<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script src="/socket.io/socket.io.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/canvas.js"></script>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/indexedDB.js"></script>
    <script src="/javascripts/bootstrap_js/bootstrap.min.js"></script>
    <script src="/javascripts/database.js" type="module"></script>
    <script src="/javascripts/idb/index.js" type="module"></script>
    <link rel="stylesheet" href="/stylesheets/bootstrap_css/bootstrap.css">
    <!--Knowledge graph-->
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/knowledge/kgsearch/widget/1.0/widget.min.css">
    <script type="text/javascript" src="https://www.gstatic.com/knowledge/kgsearch/widget/1.0/widget.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script type="application/javascript" src="/javascripts/knowledgeGraph.js"></script>

</head>
<body onload="init()">
<div id="initial_form" style="display: block">
    <h1><%= title %></h1>
    <p>Please insert the id of the Room you want to Join, if you do not have a room id, click Generate Room</p>
    <form onsubmit="return false;">
        <p><label for="name"> Your name </label>
            <input type="text" id="name" name="name">
        </p>
        <p>
            <label for="roomNo"> Your room </label>
            <input type="text" id="roomNo" name="roomNo">
            <button id="roomNoGenerator" onclick="generateRoom()">Generate Room</button>
        </p>
        <p style=" width: 100%"><label for="image_url"> Image (URL) </label><input type="text" id="image_url"
                                                                                   name="image_url"></p>
        <button id="connect" onclick="connectToRoom();chatSubmitForm();get_history()">Connect</button>
    </form>
</div>
<div id="chat_interface" style="display: none">
    <div>
        <p>
        <div id="who_you_are" style="display: inline" style="height: 10vh"></div>
        , you are in room:
        <div id="in_room" style="display: inline"></div>
        <div class="d-flex flex-row align-items-center mx-2">
            <!-- Pen colors -->
            <div class="d-flex me-2" id="pen-color">
                Pen color:
                <div class="ms-2">
                    <input class="form-check-input" type="radio" name="color-radio" id="color-red" checked>
                    <label class="form-check-label" for="color-radio-1">Red</label>
                </div>
                <div class="ms-2">
                    <input class="form-check-input" type="radio" name="color-radio" id="color-blue">
                    <label class="form-check-label" for="color-radio-2">Blue</label>
                </div>
                <div class="ms-2">
                    <input class="form-check-input" type="radio" name="color-radio" id="color-yellow">
                    <label class="form-check-label" for="color-radio-3">Yellow</label>
                </div>
                <div class="ms-2">
                    <input class="form-check-input" type="radio" name="color-radio" id="color-green">
                    <label class="form-check-label" for="color-radio-4">Green</label>
                </div>
            </div>
            <button id="share-copy" type="button" class="btn btn-outline-success btn-sm ms-2">Copy share link</button>
            <button id="canvas-clear" type="button" class="btn btn-outline-danger btn-sm ms-2 canvas-clear">Clear
                canvas
            </button>
        </div>
    </div>
    </p>
    <div class="row w-100 m-0" style="height: 50vh">
        <!-- Image and Canvas area -->
        <div class="col">
            <div class="p-2 d-flex justify-content-center align-items-center">
                <img id="image" height="100%">
                <canvas id="canvas"></canvas>
            </div>
        </div>
        <!-- Knowledge graph area -->
        <div class="col-3 card overflow-auto">
            <div class="my-3">
                <label for="kg-input"></label>
                <input type="text" class="form-control mb-1" id="kg-input" placeholder="Knowledge Graph Searching">
                <label for="kg-type"></label>
                <input type="text" class="form-control" id="kg-type" placeholder="Type">
            </div>
            <div id="kg-tags" class="d-flex flex-column"></div>
        </div>
    </div>
    <div id="history" style="height: 35vh" class="boxed scrolling"></div>

    <div id="input" style="height: 5vh" class=" boxed">
        <form onsubmit="return false;" style="width: 100%">
            <p>
                <label for="name"> chat: </label>
                <input type="text" id="chat_input" name="chat_input" style="width: 80%">
                <button id="chat_send" onclick="sendChatText();chatSubmitForm()">Send</button>
            </p>
        </form>
    </div>
</div>

<br><br><br>
<a class="btn btn-primary" href="/" role="button">Return Story list</a>

</body>
</html>
