<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/socket.io/socket.io.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/canvas.js"></script>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/indexedDB.js"></script>
    <script src="/javascripts/bootstrap_js/bootstrap.min.js"></script>
    <script src="/javascripts/database.js" type="module"></script>
    <script src="/javascripts/idb/index.js" type="module"></script>
    <script src="/javascripts/story_database.js" type="module"></script>
    <link rel="stylesheet" href="/stylesheets/bootstrap_css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/list.css">
</head>
<body onload="get_story_history1()">

<div id="show_story" class="container-fluid p-0 row">
    <!--    Creat a story modal-->
    <div class="offline_div" id="offline_div" style="display: none">You are offline</div>
    <div class="ms-5 mt-5" >
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Create a story
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Create a story</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!--                        creat a story form-->
                        <div>
                            <form id=“xForm" onsubmit="onSubmit('/insert')">
                                <p><label for="creat_name"> Your name </label>
                                    <input type="text" id="creat_name" name="creat_name">
                                </p>
                                <p><label for="creat_title"> Story title </label>
                                    <input type="text" id="creat_title" name="creat_title">
                                </p>
                                <p style=" width: 100%"><label for="creat_image_url"> Image (URL) </label>
                                    <input type="text" id="creat_image_url" name="creat_image_url"><input type="file" class="upload"></p>
                                <p><label for="creat_Details"> Story Details </label>
                                    <input type="text" id="creat_Details" name="creat_Details">
                                </p>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary " onclick="storySubmitForm();alert('add success!');location.reload()" >
                            Create
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(".upload").change(function() {
        //把选择的图片显示到img上
        var fileObj = $(this)[0];
        var windowURL = window.URL || window.webkitURL;
        var dataURL;
        var $img = $("#viewimg");


        if(fileObj && fileObj.files && fileObj.files[0]) {
            dataURL = windowURL.createObjectURL(fileObj.files[0]);//要显示图片的路径
            $img.attr("src", dataURL);//显示图片

            //图片转换成base64
            var reader = new FileReader();
            reader.readAsDataURL(this.files[0]);//这一步是关键

            reader.onload = function (e){
                var base64Img=e.target.result;//这一步是关键
                console.log(base64Img)
                let inputurl=document.getElementById("creat_image_url");
                inputurl.value=base64Img
            }
        }
    })
	
	fetch('/list',{
		method: 'GET', // or 'PUT'
		headers: {
			'Content-Type': 'application/json',
		}
	}).then(response => response.json())
		.then(data => {
			console.log(data)
			if(data.code == 1){
				if(data.data && data.data.length > 0){
					console.log("add from mongodb")
					data.data.forEach((d,i)=>{
						var date = new Date(d.time);
						var dateStr = date.getFullYear()+"-" +(1+date.getMonth())+
							"-"+date.getDate()+" "+date.getHours()+":"+date.getMinutes()+":"+date.getSeconds();
						$('#show_story').append(_generateGridContent(dateStr, d.creat_title, d.creat_Details, d.creat_name,
							d.creat_image_url));
					})
				}
				
			}
		})
		.catch((error) => {
			console.error('Error:', error);
		});
	
</script>
</body>
</html>