<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/socket.io/socket.io.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/canvas.js"></script>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/indexedDB.js"></script>
    <script src="/javascripts/bootstrap_js/bootstrap.min.js"></script>
    <script src="/javascripts/database.js" type="module"></script>
    <script src="/javascripts/idb/index.js"  type="module"></script>
    <script src="/javascripts/story_database.js" type="module"></script>
    <link rel="stylesheet" href="/stylesheets/bootstrap_css/bootstrap.min.css">
</head>
<body>

<div class="container-fluid p-0 row">b
<!--    Creat a story modal-->
    <div class="ms-5 mt-5">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Create a story
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Create a story</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
<!--                        creat a story form-->
                        <div>
                            <form onsubmit="return false;">
                                <p><label for="creat_name"> Your name </label>
                                    <input type="text" id="creat_name" name="creat_name">
                                </p>
                                <p><label for="creat_title"> Story title </label>
                                    <input type="text" id="creat_title" name="creat_title">
                                </p>
                                <p style=" width: 100%"><label for="creat_image_url"> Image (URL) </label>
                                    <input type="text" id="creat_image_url" name="creat_image_url"></p>
                                <p><label for="creat_Details"> story Details </label>
                                    <input type="text" id="creat_Details" name="creat_Details">
                                </p>
                                <button id="creat_connect" onclick="storySubmitForm();get_story_history()">Creat</button>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Creat</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--    Story Cards-->
    <div class="card m-5 col-3"  style="width: 18rem;">
        <img src="https://london.ac.uk/sites/default/files/styles/max_1300x1300/public/2018-10/london-aerial-cityscape-river-thames_1.jpg?itok=6LenFxuz" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Beautiful london</h5>
            <p class="card-text">Dit is het uitzicht over Londen</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Author</li>
            <li class="list-group-item">Time</li>
        </ul>
        <div class="card-body">
            <a href="/" class="btn btn-primary">Enter the Story</a>
        </div>
    </div>
    <div class="card m-5 col-3"  style="width: 18rem;">
        <img src="https://london.ac.uk/sites/default/files/styles/max_1300x1300/public/2018-10/london-aerial-cityscape-river-thames_1.jpg?itok=6LenFxuz" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Beautiful london</h5>
            <p class="card-text">Dit is het uitzicht over Londen</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Author</li>
            <li class="list-group-item">Time</li>
        </ul>
        <div class="card-body">
            <a href="/" class="btn btn-primary">Enter the Story</a>
        </div>
    </div>
    <div class="card m-5 col-3"  style="width: 18rem;">
        <img src="https://london.ac.uk/sites/default/files/styles/max_1300x1300/public/2018-10/london-aerial-cityscape-river-thames_1.jpg?itok=6LenFxuz" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Beautiful london</h5>
            <p class="card-text">Dit is het uitzicht over Londen</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Author</li>
            <li class="list-group-item">Time</li>
        </ul>
        <div class="card-body">
            <a href="/" class="btn btn-primary">Enter the Story</a>
        </div>
    </div>

    <div id="show_story">111</div>
</div>
</body>
</html>